<!-- Example of template driven ngModel forms -->
<div class="container">
  <div class="columns">
    <div class="column col-4">
      <h4>User registration</h4>
      <form #reg="ngForm">
        <div class="form-group">
          <label class="form-label" for="input-example-1">Name</label>
          <input name="name" [(ngModel)]="regform.name" required minlength="10" class="form-input" type="text" id="input-example-1"
            placeholder="Name">
            <app-errors [errors]="reg.controls.name?.errors"></app-errors>
        </div>
        <div class="form-group">
          <label class="form-label" for="input-example-1">Email</label>
          <input name="email" required class="form-input" type="email" id="input-example-1" placeholder="Email" [(ngModel)]="regform.email">
          <app-errors [errors]="reg.controls.email?.errors" label="Email address"></app-errors>
        </div>
        <div class="form-group">
          <label class="form-label" for="input-example-1">Group</label>
          <select name="group" class="form-select" [(ngModel)]="regform.group">
            <option value="">Select group </option>
            <option value="1"> Group 1</option>
            <option value="2"> Group 2</option>
            <option value="3"> Group 3</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">Address</label>
          <input required minlength="50"  name="address" class="form-input" type="text" id="input-example-1" placeholder="Address" [(ngModel)]="regform.address">
          <app-errors [msgs]="{pattern:'Only characters are allowed',required:'Input address to get your items'}" [errors]="reg.controls.address?.errors"></app-errors>
        </div>

        <button [disabled]="reg.invalid" (click)="save(reg)">Save</button>
        <!-- <button  (click)="save(reg)">Save</button> -->

      </form>

      <!-- <pre> -->
        <!-- uncomment below line to see form data -->
      <!-- {{regform|json}} -->
    <!-- </pre> Form valid: {{reg.valid}} Form invalid: {{reg.invalid}} {{reg.controls.name?.errors|json}} -->
    </div>
  </div>
</div>
